.header {
  position: relative;
  align-items: center;


  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 23px;
  }
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 1px;
  width: 86%;
}

.logo {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-weight: normal;

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    margin-right: 93px;
  }
}