@font-face {
  font-family: "Sylfaen";
  src: url("../../font/sylfaen-webfont.woff2") format("woff2");
  src: url("../../font/sylfaen-webfont.woff") format("woff");
}

body {
font-family: "Sylfaen", 'serif';


  color: $primary-text-color;
  background-color: $white-color;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-title-dark;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.go-top {
  position: fixed;
  z-index: 0;
  bottom: 15px;
  right: 25px;
  fill: rgb(00, 00, 00);
  transition: fill 250ms var(--timing-function);

  &:hover {
    fill: rgba($color: green, $alpha: 1.0);
    animation: bounce 1200ms;
    animation-iteration-count: infinite;
  }

  @media (max-width: 1199px) {
    display: none;
  }
}