  $primary-text-color: #000000;
  $color-title-dark: #C5D6AE;
  $color-title-light:#AABE8D;
  $white-color: #ffffff;
  $color-accent:  #165500;
  $color-black: #000000;
  $footer-bgc: #2b2b2b;
  $contacts-footer-colors: #ffffff99;
  $button-active-color:#CEAF07 ;
  $secondary-bgc: #AABE8D;
  $hero-gradient: #2f303a66;
  $client-link-color: #afb1b8;

  $gap: 30px;

  $anim-time: 250ms;
  $anim-ft: cubic-bezier(0.4, 0, 0.2, 1);

  $mobile-breakpoint: 480px;
  $tablet-breakpoint: 768px;
  $desktop-breakpoint: 1200px;

